.navbar-default {
    background-color: rgba(255,255,255,.15);
    border-color: #e7e7e7; 
}
.search-header{
	width: 100%;
	background: url('http://previews.123rf.com/images/kentoh/kentoh1006/kentoh100600577/7211661-TV-Channel-Movie-Guide-on-Abstract-Background-Stock-Photo-movies-movie.jpg')  no-repeat center center;
	background-size: cover;
	padding: 150px;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
}
.movies-row{
	text-align: center;
}
.movie-poster{
	background: no-repeat center center; 
	background-size: 100% auto; 
	min-height: 500px; 
	padding: 25px; 
	background-clip: content-box;
}
@media(max-width: 768px){
	.movie-poster{
		background-size: contain;
		height: 350px;
	}
}
.movie-question{
	text-align: center;
}